body {
    background-color: #1f1f1f; /* Цвет фона */
    color: #fff; /* Цвет текста */
    font-family: monospace; /* Шрифт */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Цвет заголовка */
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

section {
    background-color: #333; /* Цвет фона блоков */
    border-radius: 10px; /* Закругленные края */
    padding: 20px;
    width: 48%; /* Ширина блоков */
}

h2 {
    color: #6ad341; /* Цвет заголовков */
    font-size: 24px;
}

input[type="text"] {
    background-color: #1f1f1f; /* Цвет поля ввода */
    color: #2b2b36; /* Цвет текста в поле ввода */
    border: 2px solid #6ad341; /* Цвет границы */
    border-radius: 5px; /* Закругленные края поля ввода */
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#graph-canvas {
    background-color: #333; /* Цвет фона канваса */
    border: 2px solid #6ad341; /* Цвет границы канваса */
    border-radius: 10px; /* Закругленные края канваса */
    width: 100%; /* Растягиваем канвас на всю ширину блока */
    height: 400px;
    margin-top: 20px;
}

/* Стили для кнопок и других элементов можно добавить по мере необходимости */
/* Общие стили для радиокнопок */
.input_values input[type="radio"] {
    display: none; /* Скрываем стандартные радиокнопки */
}

/* Стили для лейблов радиокнопок */
.input_values label.r_l {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #3b3b48;
    background-color: #6ad341;
    border: 2px solid #6ad341;
    border-radius: 10%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Стиль при наведении на радиокнопку */
.input_values label.r_l:hover {
    background-color: #6ad341;
    color: #2b2b36;
    font-weight: bold;
}

/* Стиль при нажатии на радиокнопку */
.input_values input[type="radio"]:checked + label {
    background-color: #6ad341;
    color: #2b2b36;
    transform: scale(1.1); /* Увеличиваем размер при нажатии */
}

.submit:hover {
    background-color: #c0f834;
    color: #1f2125;
    transition: .5s;
    border: 1px solid #103b31;

}
.reset:hover{
    background-color: #fe6262;
    color: #1f2125;
    transition: .5s;
    border: 1px solid #103b31;
}
button{

    text-align: center;
    padding: 10px 25px;
    margin: 25px 15px 15px 25px;
    border: 2px solid #34c7a5;
    border-radius: 5px;
    background-color: #1f2125;
    color: #c5b91f;
}