body {
    background-color: #282c34;
    color: #abb2bf;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    background-color: #282c34;
    color: #61dafb;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#result-input{
    background-color: #282c34;
    color: #abb2bf;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

th {
    background-color: #1d1f21;
    color: #61dafb;
}

#result-table-container {
    background-color: #282c34;
    color: #abb2bf;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#result-table th, #result-table td {
    border: 1px solid #abb2bf;
    padding: 10px;
    text-align: center;
}

#result-table th {
    background-color: #282c34;
    color: #61dafb;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.input_values {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #abb2bf;
}

#x_select select,
.y {
    padding: 10px;
    border: 1px solid #61dafb;
    border-radius: 5px;
    background-color: #1d1f21;
    color: #abb2bf;
}

#note_y {
    font-size: 12px;
    color: #abb2bf;
}

.r {
    margin-right: 5px;
}

.submit,
.reset {
    padding: 10px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover,
.reset:hover {
    background-color: #abb2bf;
}
/* Скрываем стандартные радиокнопки */
.input_values input[type="radio"] {
    display: none;
}

/* Стили для лейблов радиокнопок */
.input_values label.r {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #abb2bf; /* Цвет текста */
    background-color: #282c34; /* Фон кнопки */
    border: 2px solid #61dafb; /* Цвет рамки */
    border-radius: 10%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Стиль при наведении на радиокнопку */
.input_values label.r:hover {
    background-color: #1d1f21; /* Новый цвет фона при наведении */
    color: #61dafb; /* Новый цвет текста при наведении */
    font-weight: bold;
}

/* Стиль при выборе радиокнопки */
.input_values input[type="radio"]:checked + label.r {
    background-color: #1d1f21; /* Новый цвет фона при выборе */
    color: #61dafb; /* Новый цвет текста при выборе */
    transform: scale(1.1); /* Увеличиваем размер при выборе */
}

